<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pixplicity.wallabag">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Added to be able to use a QR scanner for reading settings off the website in the future -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".WallabagApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:logo="@drawable/actionbar_wide"
        android:theme="@style/Theme.Wallabag">
        <activity
            android:name="com.pixplicity.wallabag.activities.WelcomeActivity"
            android:label="@string/app_name" />
        <activity
            android:name="com.pixplicity.wallabag.activities.ReadArticleActivity"
            android:theme="@style/Theme.Wallabag.Overlap"
            android:label="@string/app_name" />
        <activity
            android:name="com.pixplicity.wallabag.activities.ListArticlesActivity"
            android:theme="@style/Theme.Wallabag.OverlapTop"
            android:label="@string/app_name">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pixplicity.wallabag.activities.SendHandlerActivity"
            android:label="@string/bag_it">
            <intent-filter android:label="@string/bag_it">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.pixplicity.wallabag.activities.SettingsActivity"
            android:label="@string/menuSettings" />
        <activity
            android:name="com.pixplicity.wallabag.activities.AccountSettingsActivity"
            android:label="@string/settings_account" />
        <activity
            android:name="com.pixplicity.wallabag.activities.LookAndFeelSettingsActivity"
            android:label="@string/setting_look_and_feel" />
        <activity
            android:name="com.pixplicity.wallabag.activities.GeneralSettingsActivity"
            android:label="@string/settings_general" />
        <service
            android:name="com.pixplicity.wallabag.ApiService"
            android:exported="false" />
        <!-- <provider
            android:name="com.pixplicity.wallabag.ContentProvider"
            android:authorities="com.pixplicity.wallabag.provider"
            android:exported="false" /> -->
    </application>

</manifest>